@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
#logo {
  width: 100px;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #e67e22;
  background: linear-gradient(to right, #ffd700, #e74c3c);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Satisfy", cursive;
}
/* 
non funziona perchè dovrei incollare la navbar al suo contenitore, quindi la barra di caricamento non potrebbe più stare fuori dal main
.navbar {
  width: 100%;
  position: sticky;
  z-index: 1;
} */
